
html, body {
  margin: 0; padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #ffffff;
  width: 100%;
  max-width: 100%;
  color: #242424;
}

.home-container {
  margin-top: 20vh;
}

.listen-link {
  text-decoration: none;
  color: #242424;
  font-size: 2rem;
  opacity: 1;
  transition: 0.2s all ease-in;
}

.listen-link:hover {
  text-decoration: none;
  color: #022008;
  transform: scale(1.05);
  opacity: 0.7;
}

.listen-link-small {
  font-size: 1.2rem;
}

.mediaList {
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  z-index: 99;
}

.mediaList-item {
  padding: 0 5vw;
}
