/* // $brand-white: #ffffff;
// $brand-black: #262626;
// $brand-background: #dee8f0;
// $brand-orange: #ff4e00;
// $brand-purple: #630bb7;
// $brand-bluesky: #b1b7c7;

// $screen-xs: 480px;
// $screen-xs-min: $screen-xs;
// $screen-sm: 768px;
// $screen-sm-min: $screen-sm;
// $screen-md: 1001px;
// $screen-md-min: $screen-md;
// $screen-lg: 1200px;
// $screen-lg-min: $screen-lg;
// $screen-xl: 1440px;
// $screen-xl-min: $screen-xl;

// $screen-xs-max: ($screen-sm-min - 1);
// $screen-sm-max: ($screen-md-min - 1);
// $screen-md-max: ($screen-lg-min - 1);
// $screen-lg-max: ($screen-xl-min - 1); */

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0; padding: 0;
}

body {
  background-color: #fff;
}

body,
body * {
  color: #000;
  font-family: 'Jost', sans-serif;
  font-style: normal;
}

body {
  background-image: url('https://lakilan.pl/assets/images/background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #dee8f0;
  width: 100%;
  max-width: 100%;
}

body.sky {
  background-color: #b1b7c7;
  background-image: url('https://lakilan.pl/assets/images/hue-lakilan2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-section {
  margin-bottom: 50px;
  align-items: center;

  @media (max-width: 1001px) {
    margin-bottom: 15px;
  }
}

.home-image-container {
  height: auto;
  text-align: center;
  margin: auto;
  max-width: 98vw;

  img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center center;
    z-index: 1;
  }
}

.home-media {
  z-index: 99;
  position: fixed;
  bottom: 10vh;
  width: 100vw;
}

.home-mediaList {
  list-style: none;
  padding: 0 15vw;
  margin: 5px 0 25px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    transition: 0.2s all ease-in;
    opacity: 1;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(99, 11, 183, 1);
  }

  button:hover {
    text-decoration: none;
    transform: scale(1.05);
    opacity: 0.7;
    color: #fff;
  }

  a {
    display: block;
    transition: 0.2s all ease-in;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(99, 11, 183, 1);
  }

  a:hover {
    text-decoration: none;
    transform: scale(1.05);
    opacity: 0.7;
    color: #fff;
  }

  @media (max-width: 1001px) {
    padding: 0 5vw;
    display: block;

    li {
      display: block;
      width: 100%;
      text-align: center;

      a, button {
        width: 100% !important;
        text-align: center;
        margin: 15px 0;
      }
    }
  }
}

.home-mediaList *, .home-mediaList *:active, .home-mediaList *:focus {
  outline: none;
}

.footer {
  z-index: 99;
  position: fixed;
  bottom: 2vh;
  width: 100vw;
}

.footer-mediaList {
  list-style: none;
  padding: 0 15vw;
  margin: 5px 0 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  
  a { 
    color: #ff4e00;
    display: block;
    transition: 0.2s all ease-in;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    i { color: #ff4e00; }
  }

  a:hover {
    text-decoration: none;
    transform: scale(1.05);
    opacity: 0.7;
    color: #630bb7;

    i { color: #630bb7; }
  }

}

.modal-content {
  border-radius: 0;
  background-color: #630bb7;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.modal-header {
  border-bottom: 1px solid #fff;
  
  .close * {
    color: #fff;
    opacity: 0.8;
  }
}

.modal-title {
  color: #fff;
}

.video-dialog {
  width: 90vw;
  max-width: 900px;
  height: 75vh;
  max-height: 1200px;
  margin: 0 auto;
  margin-top: 7.5vh;

  .modal-content {
    height: 100%;
    width: 100%;
  }
  * {
    color: #fff;
  }
  p {
    font-size: 1rem;
  }
}

.prev:before {
  content: "<";
  font-size: 50px;
  margin-left: 10px;
  color: #fff;
}

.next:before {
  content: ">";
  font-size: 50px;
  margin-left: 15px;
  color: #fff;
}

.prev {
  position: absolute;
  top: 45%;
  left: -3vw;
  width: 45px;
  height: 45px;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;

  &.slick-disabled {
    opacity: 0;
  }
}

.next {
  position: absolute;
  top: 45%;
  right: -3vw;
  width: 45px;
  height: 45px;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;

  &.slick-disabled {
    opacity: 0;
  }
}

.listen-link {
  color: #fff; 
  background: transparent;
  transition: 0.4s all ease-in;
}

.listen-link:hover {
  text-decoration: none;
  font-weight: 900;
  color: #fff;
  transform: scale(1.05);
  opacity: 0.7;
}

.contact-body * {
  color: #fff;
  font-size: 1.5rem;

  @media (max-width: 1001px) {
    font-size: 1rem;
  }
}

.contact-body a {
  color: #fff;
  transition: 0.4s all ease-in;
}

.contact-body a:hover {
  text-decoration: none;
  font-weight: 900;
  color: #fff;
  transform: scale(1.05);
  opacity: 0.7;
}

.tour-image-container img {
  width: 55vw;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  position: fixed;
  top:0;
  left:0;

  @media (max-width: 1001px) {
    width: 100vw;
    height: 40vh;
    position: absolute;
  }
}

.tour-list-container {
  position: absolute;
  top: 0;
  left: 56vw;
  width: 44vw;
  height: 100vh;

  @media (max-width: 1001px) {
    width: 100vw;
    height: auto;
    top: 40vh;
    position: absolute;
    left: 0;
  }

  .tour-list-link {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s all ease-in;

    span {
      color: #fff;
    }

    span.city {
      color: #630bb7;
    }

    span.venue {
      font-size: 0.8rem;
      font-style: italic;
      @media (max-width: 1001px) {
        font-size: 0.6rem;
      }
    }

    @media (max-width: 1001px) {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .tour-list-link:hover {
    text-decoration: none;
    transform: scale(1.05);
    opacity: 0.7;
    font-size: 1.1rem;
  } 

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 25px 40px;
    text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 1001px) {
      padding: 20px 10px;
      font-size: 1.5rem;
    }
  }
}

.tour-list {
  list-style: none;

  li {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 1001px) {
      margin-bottom: 12px;
    }
  }

  @media (max-width: 1001px) {
    padding: 0 10px;
  }
}